.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.popup__inner {
    position: relative;
    padding: 32px;
    border-radius: 12px; 
    background-color: white;
    min-width: 640px;
    width: 50%;
}
.popup__inner .btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
}
